# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore

  <nav class="nav">
          <ul>
            <li>
              <a href="#">Features</a>
              <i class='bx bxs-chevron-down'></i>
            </li>
            <li>
              <a href="#">Company</a>
              <i class='bx bxs-chevron-down'></i>
            </li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>